.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__info {
  display: flex;
  align-items: center;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: #2196F3;
}

.logo__footer {
  color: #FFFFFF;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__item {
  font-weight: 500;
}

.site-nav__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  position: relative;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link-current {
  color: #2196F3;
}
.site-nav__link-current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.contact-info {
  display: flex;
  margin-left: auto;
}

.contact-info__item {
  margin-left: 30px;
}

.contact-info__link {
  display: flex;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info__link:hover, .contact-info__link:focus {
  color: #2196F3;
}

.contact-info__icon {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.main {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}

.main__button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  background-color: #2196F3;
  border: 1px solid transparent;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main__button:hover, .main__button:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}

.main__title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage__icon {
  justify-content: center;
  display: flex;
  border-radius: 2px;
  height: 120px;
  align-self: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.advantage {
  display: flex;
}

.advantage__item {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.advantage__item:first-child {
  margin-left: 0;
}

.advantage__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.business {
  display: flex;
}

.section.business {
  padding-top: 0;
}

.business__item {
  position: relative;
  margin-left: 30px;
}
.business__item:first-child {
  margin-left: 0;
}

.business__title {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  background-color: #F5F4FA;
}

.profile {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.profile:first-child {
  margin-left: 0;
}

.profile__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile__name {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profile__position {
  text-align: center;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.profile__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.profile__item {
  margin-left: 10px;
}
.profile__item:first-child {
  margin-left: 0;
}

.profile__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.profile__link:hover, .profile__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.profile__icon {
  fill: currentColor;
}
.profile__icon:hover, .profile__icon:focus {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 150px) / 6);
  margin-left: 30px;
}
.clients__item:first-child {
  margin-left: 0;
}

.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__box:hover, .clients__box:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__logo {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.social {
  display: flex;
  margin-right: 93px;
}

.social__item {
  margin-left: 10px;
}
.social__item:first-child {
  margin-left: 0;
}

.footer__social {
  margin-left: 70px;
}

.footer__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  fill: currentColor;
}
.social__icon:hover, .social__icon:focus {
  fill: currentColor;
}

.address {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.address__item {
  margin-top: 9px;
}

.address__info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__info:hover, .address__info:focus {
  color: #2196F3;
}

.form__sub {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  background-color: #2F303A;
  color: #FFFFFF;
}

.form__icon {
  margin-left: 10px;
}

.form__button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  padding: 0 40px;
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}

.modal__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__field:hover {
  cursor: pointer;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus-within {
  border: 1px solid #2196F3;
}
.modal__input:focus-within ~ .modal__icon {
  fill: #2196F3;
}

.modal__title {
  font-size: 20px;
  line-height: 23px;
  margin-top: 40px;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.modal__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__name {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}
.modal__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.send__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 14px;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}
.checkbox__input:checked + .checkbox__frame {
  opacity: 0;
}
.checkbox__input:focus + .checkbox__frame {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.checkbox__input:checked ~ .checkbox__icon {
  opacity: 1;
}

.checkbox__frame {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon {
  position: absolute;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__agreement {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.checkbox__link {
  text-decoration-line: underline;
  color: #2196F3;
  margin-left: 4px;
  font-size: 14px;
}
.checkbox__link:hover {
  text-decoration-line: none;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__item {
  margin-left: 8px;
}
.menu__item:first-child {
  margin-left: 0;
}

.menu__button {
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu__button--active {
  background-color: #188CE8;
  color: #FFFFFF;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio__border {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio__link {
  text-decoration: none;
}
.portfolio__link:hover, .portfolio__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__description {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 0 24px;
}/*# sourceMappingURL=main.css.map */