.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: calc((100% - 150px)/6);
    margin-left: 30px;

    &:first-child {margin-left: 0;}
}



.clients__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid $box-icon-color;
    border-radius: 4px;
    color: $box-icon-color;

    @include transitions(color background-color);

    &:hover,
    &:focus {color: $accent-color;
        border-color: $accent-color;}
}




.clients__logo {
    fill: currentColor;
}