.profile {
    background-color: $background-color;
    box-shadow: $team-box-shadow;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 90px)/4);
    margin-left: 30px;

    &:first-child {
        margin-left: 0;
    }
}


.profile__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile__name {
    margin-bottom: 10px;
    text-align: center;

    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.profile__position {
    text-align: center;
    color: $primary-textcolor;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.profile__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.profile__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.profile__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $box-icon-color;


    @include transitions(color background-color);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $button-accent-color;
    }
}



.profile__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}