.social {
    display: flex;
    margin-right: 93px;
}

.social__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.footer__social {
    margin-left: 70px;
}

.footer__title {
    color: $button-accent-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: $button-accent-color;
    
    @include transitions(color background-color);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}


.social__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}